<ion-content>
	<video [muted]="true" loop autoplay playsinline>
		<source src="assets/video/bg.mp4" type="video/mp4">
	</video>

	<div class="center">
		<h1 color="dark">Emilia Lach</h1>
		<div class="typing-container">
			<span #textElement class="text"></span>
			<span #blinkElement class="cursor"></span>
		</div>
	</div>


	<ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button color="dark" bottom>
			<ion-icon name="menu-outline"></ion-icon>
		</ion-fab-button>
		<ion-fab-list side="top">
			<ion-fab-button ion-fab href=" https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
				<ion-icon color="dark" name="gift-outline"></ion-icon>
			</ion-fab-button>
			<ion-fab-button ion-fab href="mailto:emilia.lach.91@gmail.com" target="_blank">
				<ion-icon color="dark" name="mail-outline"></ion-icon>
			</ion-fab-button>
			<ion-fab-button ion-fab href="https://www.linkedin.com/in/emilia-lach/" target="_blank">
				<ion-icon color="dark" name="logo-linkedin"></ion-icon>
			</ion-fab-button>
			<ion-fab-button ion-fab href="https://github.com/emilialach91" target="_blank">
				<ion-icon color="dark" name="logo-github"></ion-icon>
			</ion-fab-button>
		</ion-fab-list>
	</ion-fab>
</ion-content>